body {
    background-image: url(img/fondoblancoladrillos.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}

.titulo {
    background: rgba(78, 172, 32, 0.7);
    text-align: center;
    margin-bottom: 30px;
    color: #dee5e8;

}

.tema_inicial {
    margin-bottom: 30px;
}

.tema_principal {
    background: rgba(255, 255, 255, 0.4);
    text-align: center;
}

.noticias_actuales {
    background: rgba(211, 212, 216, 0.6);
    padding: 40px 0;
    text-align: center;
}

.logo_conjunto {
    width: 35%;
}

.pagina_extra {
    background: #2196f3;
    padding: 30px 0;
}

.menus {
    color: #f2f2f2;
}

.menus_principales{
    margin-bottom: 30px;
    text-align: center;
}

.contactanos {
    background: #1e1e1e;
    color: #f2f2f2;
    text-align: center;
}



.titulo_tabla_v {
    text-align: center;
}

.atributos_tabla {
    text-align: center;
 
}

.imagen_residentes {
    width: 100%;
}